.plugin-paging {
  width: 1000px;
  margin: 10px auto 0 auto;
  font-size: 12px;
  overflow: hidden;
}
.plugin-paging .plugin-data {
  float: left;
  line-height: 28px;
}
.plugin-paging .plugin-list {
  float: right;
}
.plugin-paging .plugin-list li {
  list-style: none;
  float: left;
  width: 60px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #ddd;
}
.plugin-paging .plugin-list li a {
  text-decoration: none;
  color: #777;
}
.plugin-paging .plugin-list li.plugin-alone {
  width: 28px;
}
.plugin-paging .plugin-list li.plugin-alone a:hover {
  display: block;
  width: 30px;
  height: 30px;
  background: #428bca;
  border: none;
  color: #fff;
}
.plugin-paging .plugin-list li.plugin-alone a:active {
  color: #23528d;
}
.plugin-paging .plugin-list .plugin-select {
  border: none;
}
.plugin-paging .plugin-list .plugin-select select {
  width: 60px;
  height: 30px;
}
.plugin-paging .plugin-alone {
  width: 60px;
}
