<div class="plugin-paging">
    <div ng-if="!option.resultList.length">
        <strong>无数据可以显示,</strong>请更换查询条件!
    </div>
    <div layout="row" ng-if="option.total && option.resultList.length">
        <div flex layout="row" layout-align="start center">
            <div ng-if="!option.hideDesc">
                当前显示 {{getDataRange()}}
                到 {{getDataRange(true)}}
                ，总共 {{option.total || 0}} 条数据
            </div>
        </div>
        <div layout="row" class="plugin-paging-content">
            <span ng-class="{disabled:option.currentPage == 0}"
                  ng-click="goToPage(0)">首页</span>

            <span ng-class="{disabled:option.currentPage == 0}"
                  ng-click="goToPage(option.currentPage-1)">上一页</span>

            <span ng-class="{active:item == option.currentPage}"
                  ng-repeat="item in pageList"
                  ng-click="goToPage(item)">{{item + 1}}</span>

            <span ng-class="{disabled:option.currentPage == option.totalPage - 1}"
                  ng-click="goToPage(option.currentPage+1)">下一页</span>

            <span ng-class="{disabled:option.currentPage == option.totalPage - 1}"
                  ng-click="goToPage(option.totalPage-1)">尾页</span>

            <select ng-model="option.limit" ng-options="item for item in option.limitList"></select>
        </div>
    </div>
</div>